.App {
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8BC6EC;
  background-image: radial-gradient(#4ca1af, #2c3e50);
}


.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14314D;
}

.navbar .links {
  display: flex;
  text-align: center;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: white;
}
.user img {
  font-size: 15px;
  border-radius: 50%;
}

.new-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.post-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  background-image: radial-gradient( rgb(54, 95, 126), rgb(135, 135, 178));
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-submit:hover {
  cursor: pointer;
}

.logout-button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: white
}

.search-header {
  color: white;
}

.center-form h2 {
  color: #FAF9F6;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.signin h2 {
  color: #FAF9F6;
}

.search-input {
  padding: 10px;
  border: 2px solid #8BC6EC;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: #8BC6EC;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #4CA1AF;
}

.event-item {
  border: 2px solid #8BC6EC;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-image: radial-gradient(#00b4db, #0083b0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .event-title {
  font-size: 25px;
  margin-bottom: 5px;
} */

.email-signin {
  padding: 10px;
  margin-right: 10px;
}

.google-signin {
  padding: 10px;
  margin-right: 10px;
}

.event-date {
  color: #777;
}

input, textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: rgb(12, 34, 35);
  font-size: 16px;
  z-index: 1;
}



form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: rgb(43, 78, 104);
  overflow: hidden;
}